<%- include("head") %>
<% if(oppChoice == null) { %>
    <h3 class="text-centered">Waiting on opponent's choice</h3> 
<% } else { %>
    <h3 class="text-centered">Opponent is ready!</h3>
<% } %>
<% if(yourChoice == null) { %>
    <form action="/submit" method="POST" id="choice">
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group list-group-checkable d-grid gap-2 border-0">
            <% if(you.shieldCool == false) {%>
                <%- include("cards/shield") %>
            <% } %>
            <% if(you.blockSpent == false) {%>
                <%- include("cards/block") %>
                <%- include("cards/rush") %>
            <% } %>
            <% if(you.parrySpent == false) {%>
                <%- include("cards/parry") %>
            <% } %>
            <%- include("cards/stab") %>
            <% if(you.charged == false) {%>
                <%- include("cards/charge") %>
            <% } else { %>
                <%- include("cards/shoot") %>
                <% } %>
        </div>
    </div>
    <button type="submit">Commit!</button>
    </form>
<% } else { %>
    <div class="text-centered">
        <h3> You chose <%- yourChoice %></h3>
        <button onclick="window.location.href='/play'" type="button" class="btn btn-outline-secondary btn-lg px-4">Refresh</button>
    </div>
    <% } %>
<%- include("foot") %>